@import '../../../styles/settings.scss';

.root {
  background-color: $text-color-light;
  padding: $base-size 0;

  .logoWrapper {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    background-color: inherit;
    align-items: center;
    border: none;
    outline-style: none;
    padding: 0;
    margin: 0;
    clip-path: ellipse(50% 50% at 50% 50%);
  }

  .logoImage {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .searchWrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;

    div {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 70%;
      justify-content: center;
    }

    input {
      height: 60px;
      font-size: $base-size * 1.5;
      background-color: transparent;
      outline-style: none;
    }
    input[type=text] {
      width: 80%;
      border: 0.5px solid;
      padding:0 10px;
      border-radius: 5px 0 0 5px;
    }

    input[type=submit] {
      width: 20%;
      padding: 0;
      border: 0.5px solid black;
      border-left: none;
      border-radius: 0 5px 5px 0;
      background-color: $primary-color;
      color: $text-color-light;
    }
  }

  .userMenu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;

    a {
      text-decoration: none;
      color: inherit;
      position: relative;

      div {
        position: absolute;
        height: 18px;
        width: 18px;
        top: 0;
        right: -10px;
        background-color: $primary-color;
        border-radius: 50%;
        color: $text-color-light;
        text-align: center;
        font-size: $base-size;
        display: grid;
        place-items: center;
      }
    }
  }

}
