@import '../../../styles/settings.scss';
.root {
  margin: 10px;

  .link {
    text-decoration: none;
    color: inherit;

  }

  .wrapper {
    width: 250px;
    height: 350px;
    margin-bottom: 10px;
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.4s ease;

    &:hover {
      transform: translate(-6px, -6px);
      -webkit-box-shadow: 12px 12px 8px 0px $dark-color;
      box-shadow: 12px 12px 8px 0px $dark-color;
    }

    h4 {
      width: 95%;
      border-bottom: $border-thin;
      text-align: center;
      padding: 5px 0;
    }

    .image {
      width: 70%;
      height: 40%;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      border-top: $border-thin;
      margin: 10px 5px;

      a {
        text-decoration: none;
        padding-left: 5px;
      }
    }

    .priceWrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding: 0 5px;

      span {
        font-size: 20px;
        padding: 0 5px;
        position: relative;
      }

      .oldPrice::before {
        content: '';
        position: absolute;
        width: 32px;
        height: 2px;
        top: 12px;
        left: 0;
        background-color: black;
        transform: rotate(-20deg);
      }
    }
  }
}
