@import '../../../styles/settings.scss';
.root {
  width: 100%;
  display: grid;
  place-items: center;

  .wrapper {
    width: 250px;
    height: 350px;
    margin-bottom: 10px;
    border: $border-thin;
    background-color: $primary-color;
    border-radius: 5px;
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &:hover {
      -webkit-box-shadow: 0px 0px 23px 2px rgba(255,118,0,0.91);
      box-shadow: 0px 0px 23px 2px rgba(255,118,0,0.91);
    }

    .image {
      width: 70%;
      height: 40%;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      border-top: 0.3px solid;
      padding-top: 5px;
      margin-top: 5px;

      a {
        text-decoration: none;
        padding-left: 5px;
      }
    }

    .options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding: 0 5px;

      .icon {
        border: $border-thin;
        border-radius: 5px;
        margin: 5px;
        padding: 3px;
        color: $dark-color;
      }

      .price {
        font-size: 18px;
        font-weight: 500;
        padding: 3px;
      }

      .oldPrice {
        @extend .price;
        text-decoration: line-through;
      }
    }
  }
}
