@import '../../../styles/settings.scss';

.root {
  background-color: $dark-color;
  color: $text-color-light;
  padding: $base-size 0;

  ul {
    list-style: none;
    margin: 0;
  }

  .promo {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    flex-wrap: nowrap;

    @media (max-width: 767px) {
      justify-content: space-evenly;
      margin-bottom: 10px;
    }

    li {
      margin-right: 10px;
      border-right: 1px solid;
      display: flex;
      align-items: center;
    }

    li:first-child {
      margin-left: 20px;
    }

    li:last-child {
        border-right: none;
    }

    .promoIcon {
      font-size: 20px;
    }

    span {
      font-size: 14px;
      margin: 0 15px 0 10px;
      border-right: 1px solid;

      @media (max-width: 767px) {
        font-size: 10px;
        margin: 0 8px 0 5px;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .language {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 130px;
    position: relative;

    button {
      outline-style: none;
      border: none;
      text-decoration: none;
      color: $text-color-light;
      background-color: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: $primary-color;
      }
    }

    .dropdownIcon {
      font-size: 20px;
    }

    button:hover .dropdownIcon {
      transform: scale(1.3);
    }

    .buttonTitle {
      margin: 0 10px;
    }

    .dropdownClosed {
      position: absolute;
      height: 0px;
      opacity: 0;
      overflow: hidden;
      top: 40px;
      left: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      background-color: transparent;
      z-index: 2;
      transition: all .2s ease-in;

      @media (max-width: 575px) {
        top: 30px;
      }

      li {
        width: 100%;
        height: 100%;

        button {
          justify-content: flex-start;
        }
      }
    }

    .dropdownOpen {
      @extend .dropdownClosed;
      height: 120px;
      opacity: 1;
      background-color: $dark-color;
    }
  }
}
