@import "settings.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  color: $dark-color;
}

button {
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;

  &:focus {
    outline-style: solid;
    outline-color: transparent;
  }
}
