$base-size: 12px;
$dark-color: #2d3436;
$light-color: #ffffff;
$primary-color: #ff7600;
$text-color-light: #ffffff;
$order-secondary: #c4c4c4;
$hover-color: #ff7600;
$carousel-bg: #f1faef;
$hot-deal: #f80000;
$bg-light: #f3f3f3;

$font-promo: "Montserrat", sans-serif;
$font-bold: "Overlock", cursive;

$border-thin: 0.5px solid #575757;

$box-shadow: #646464;
$message-color: #009100;

$optimalHeight: calc(100vh - 253px);
