*, *::before, *::after {
  box-sizing: border-box;
}

$base-size: 12px;
$dark-color: #2d3436;
$light-color: #ffffff;
$primary-color: #ff7600;
$header-color: #48233C;
$text-color-light: #ffffff;
$hover-color: #ff7600;
$carousel-bg: #ecf0f1;
$hot-deal: #f80000;
$bg-light: #f3f3f3;

$font-promo: 'Montserrat', sans-serif;
$font-bold: 'Overlock', cursive;

$border-thin: 0.1px solid $dark-color;
$border-big: 3px solid;
