@import '../../../styles/settings.scss';

.root {
  width: 100%;

  .qty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .remove {
    background-color: inherit;
    border: none;
    width: 100%;
    display: grid;
    place-items: center;
  }
}

.empty {
  height: 100px;
  width: 100%;
  display: grid;
  place-items: center;
}
